# Completed by Ansible {{ ansible_date_time.date }} {{ ansible_date_time.time }}
*filter
:INPUT DROP [0:0]
:FORWARD DROP [0:0]
:OUTPUT DROP [0:0]
{% if ALLOW_OUT %}
:LOGGING_INPUT - [0:0]
:LOGGING_OUTPUT - [0:0]
{% endif %}
-A INPUT -i lo -j ACCEPT
-A OUTPUT -o lo -j ACCEPT

# Allow DNS OUT
-A OUTPUT -o {{ iface }} -p udp -m conntrack --ctstate NEW,ESTABLISHED -m udp --dport 53 -j ACCEPT
-A OUTPUT -o {{ iface }} -p tcp -m conntrack --ctstate NEW,ESTABLISHED -m tcp --dport 53 -j ACCEPT
-A INPUT -i {{ iface }} -p udp -m conntrack --ctstate ESTABLISHED -m udp --sport 53 -j ACCEPT
-A INPUT -i {{ iface }} -p tcp -m conntrack --ctstate ESTABLISHED -m tcp --sport 53 -j ACCEPT

# Allow HTTP/S OUT
-A OUTPUT -o {{ iface }} -p tcp -m conntrack --ctstate NEW,ESTABLISHED -m tcp --dport 80 -j ACCEPT
-A OUTPUT -o {{ iface }} -p tcp -m conntrack --ctstate NEW,ESTABLISHED -m tcp --dport 443 -j ACCEPT
-A INPUT -i {{ iface }} -p tcp -m conntrack --ctstate ESTABLISHED -m tcp --sport 80 -j ACCEPT
-A INPUT -i {{ iface }} -p tcp -m conntrack --ctstate ESTABLISHED -m tcp --sport 443 -j ACCEPT

# CUSTOM public Services
{% if public_services %}
{% for item in public_services %}
{% if not item.direction or item.direction == "out" %}
# ALLOW OUT - {{ item.service }}
-A OUTPUT -o {{ item.iface }} -p {{ item.protocol }} -m conntrack --ctstate NEW,ESTABLISHED -m {{ item.protocol }} --dport {{ item.port }} -j ACCEPT
-A INPUT -i {{ item.iface }} -p {{ item.protocol }} -m conntrack --ctstate ESTABLISHED -m {{ item.protocol }} --sport {{ item.port }} -j ACCEPT
{% else %}
# ALLOW IN - {{ item.service }}
-A INPUT -i {{ item.iface }} -p {{ item.protocol }} -m conntrack --ctstate NEW,ESTABLISHED -m {{ item.protocol }} --dport {{ item.port }} -j ACCEPT
-A OUTPUT -o {{ item.iface }} -p {{ item.protocol }} -m conntrack --ctstate ESTABLISHED -m {{ item.protocol }} --sport {{ item.port }} -j ACCEPT
{% endif %}
{% endfor %}
{% endif %}

# CUSTOM restricted Services
{% if restricted_services %}
{% for item in restricted_services %}
{% if not item.direction or item.direction == "out" %}

# ALLOW OUT - {{ item.service }}
{% for source in item.sources %}
-A OUTPUT -d {{ source }} -o {{ item.iface }} -p {{ item.protocol }} -m conntrack --ctstate NEW,ESTABLISHED -m {{ item.protocol }} --dport {{ item.port }} -j ACCEPT
{% endfor %}
-A INPUT -i {{ item.iface }} -p {{ item.protocol }} -m conntrack --ctstate ESTABLISHED -m {{ item.protocol }} --sport {{ item.port }} -j ACCEPT
{% else %}
# ALLOW IN - {{ item.service }}
{% for source in item.sources %}
-A INPUT -s {{ source }} -i {{ item.iface }} -p {{ item.protocol }} -m conntrack --ctstate NEW,ESTABLISHED -m {{ item.protocol }} --dport {{ item.port }} -j ACCEPT
{% endfor %}
-A OUTPUT -o {{ item.iface }} -p {{ item.protocol }} -m conntrack --ctstate ESTABLISHED -m {{ item.protocol }} --sport {{ item.port }} -j ACCEPT
{% endif %}
{% endfor %}
{% endif %}

{% if ALLOW_OUT %}
# LOG THE REST (outgoing only)
-A OUTPUT -o {{ iface }} -m conntrack --ctstate NEW,ESTABLISHED -j LOGGING_OUTPUT
-A INPUT -i {{ iface }} -m conntrack --ctstate ESTABLISHED -j LOGGING_INPUT

-A LOGGING_INPUT -j LOG --log-prefix "iptables_INPUT_ALLOWED: "
-A LOGGING_INPUT -j ACCEPT

-A LOGGING_OUTPUT -j LOG --log-prefix "iptables_OUTPUT_ALLOWED: "
-A LOGGING_OUTPUT -j ACCEPT
{% endif %}

# REJECT THE REST
-A INPUT -m limit --limit 3/min -j LOG --log-prefix "iptables_INPUT_denied: "
-A INPUT -j DROP

-A FORWARD -m limit --limit 3/min -j LOG --log-prefix "iptables_FORWARD_denied: "
-A FORWARD -j DROP

-A OUTPUT -m limit --limit 3/min -j LOG --log-prefix "iptables_OUTPUT_denied: "
-A OUTPUT -j DROP

COMMIT
# Completed by Ansible {{ ansible_date_time.date }} {{ ansible_date_time.time }}
