# Alternative network interface
auto {{ desired_IFACE }}
iface {{ desired_IFACE }} inet static
    address {{ desired_IP }}
    netmask {{ desired_MASK }}
    network {{ desired_NETWORK }}
    broadcast {{ desired_BROADCAST }}
    gateway {{ desired_GATEWAY }}
    dns-nameserver {{ desired_DNS }}
