TYPE="Ethernet"
BOOTPROTO="static"
IPADDR="{{ primary_ip }}"
NETMASK="{{ primary_netmask }}"
GATEWAY="{{ gateway }}"
DNS1="{{ primary_dns1 }}"
DNS2="{{ primary_dns2 }}"
NM_CONTROLLED=no
NAME="{{ primary_interface }}"
DEVICE="{{ primary_interface }}"
ONBOOT="yes"
